@import "../../style.scss";

.createCommunity {
  @include themify($themes) {
    padding: 20px;
    background-color: themed("bgSoft");
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: themed("textColor");

    h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
      color: themed("primaryColor");
    }

    form {
      display: flex;

      gap: 15px;

      input {
        padding: 10px;
        border: 1px solid themed("borderColor");
        border-radius: 5px;
        font-size: 1rem;
        transition: border-color 0.3s, box-shadow 0.3s;

        &:focus {
          border-color: themed("primaryColor");
          outline: none;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
      }

      button {
        padding: 10px 15px;

        background-color: themed("bg");
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken(themed("bgSoft"), 10%);
        }

        &:disabled {
          background-color: lighten(themed("bgSoft"), 20%);
          cursor: not-allowed;
        }
      }
    }
  }
}
