@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;

        input {
          border: none;
          width: 500px;
          background-color: transparent;
          color: themed("textColor");

          @include mobile {
            display: none;
          }

          @include tablet {
            width: 200px;
          }
        }
      }
      .homeIcon {
        color: themed("logo");
        text-decoration: none;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
        display: none;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;

        @include tablet {
          display: none;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    .searchContainer {
      position: relative; // Add this line
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px;
    }
    
    .dropdown-content {
      display: none; 
      position: absolute;
      top: 100%; // Adjusted to ensure it's right below the search bar
      left: 0; // Align with the left edge of the searchContainer
      width: 100%; // Match the width of the searchContainer
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-item {
      padding: 12px 16px;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px; 
      color: #555;
    }
    
    .dropdown-item:hover {
      background-color: #f1f1f1;
    }
    
    .show-dropdown .dropdown-content {
      display: block;
    }
  }
}
